# Build files
/build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Executables
file_splitter
*.exe
*.out
*.o
*.obj

# macOS specific
.DS_Store

# Logs and temporary files
*.log
*.tmp


.vscode/